@import url('https://fonts.googleapis.com/css2?family=Cantata+One&family=Lato:wght@400;700;900&display=swap');

/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ====== MY CODE ====== */

html:lang(en) {
    background-color: white;
}

/* ====== MOBILE CSS ====== */

/* === NAV BAR === */

nav {
	width: 100%;
	background-color: white;
	text-align: center;
	display: block;
}

nav ul li a {
	color: black;
	text-decoration: none;
	font-size: 25px;
	font-weight: 700;
	font-family: 'Lato', sans-serif;
}

nav ul li a:hover {
	font-size: 40px;
	text-decoration: none;
}

nav ul li .active {
	text-decoration: underline;
	font-weight: 900;
}

.nav-list {
	padding-bottom: 1rem;
}

/* === END OF NAV BAR === */

/* ====== HOME BANNER ====== */

.home-banner {
	background-image: url(../images/desktop_home_banner_600px.jpg);
	background-size: cover;
	height: 600px;
	width: 100%;
}

.home-banner h2 {
	padding-top: 200px;
	font-size: 80px;
	color: white;
	text-align: center;
	font-family: 'Cantata One', serif;
}

/* ====== END OF HOME BANNER ====== */

/* ====== ABOUT BANNER ====== */

.about-banner {
	background-image: url(../images/desktop_about_banner_600px.png);
	background-size: cover;
	height: 600px;
	width: 100%;
}

.about-banner h2 {
	padding-top: 250px;
	font-size: 80px;
	color: white;
	text-align: center;
	font-family: 'Cantata One', serif;
}

/* ====== END OF ABOUT BANNER ====== */

/* ====== CONTACT BANNER ====== */

.contact-banner {
	background-image: url(../images/desktop_contact_banner_600px.png);
	background-size: cover;
	height: 600px;
	width: 100%;
}

.contact-banner h2 {
	padding-top: 250px;
	font-size: 80px;
	color: white;
	text-align: center;
	font-family: 'Cantata One', serif;
}

/* ====== END OF ABOUT BANNER ====== */

/* ====== HOME TEXT SECTION ====== */

h3 {
	font-size: 48px;
	text-align: center;
	font-family: 'Cantata One', serif;
	padding-bottom: 2rem;
}

p {
	font-size: 18px;
	font-family: 'Lato', sans-serif;
}

.home-text-section {
	padding-top: 5rem;
	padding-left: 5rem;
	padding-right: 5rem;
	background-color: #F2F2F2;
}

.readmore-button {
	background-color: orange;
	border: none;
	border-radius: 25px;
	font-size: 21px;
	font-weight: 700;
	text-align: center;
	height: 40px;
	width: 150px;
}

.button {
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 5rem;
}

/* ====== END OF HOME TEXT SECTION ====== */

/* ====== GALLERY SECTION ====== */

.gallery-section {
	padding-top: 5rem;
	padding-left: 5rem;
	padding-right: 5rem;
}

