@import url('https://fonts.googleapis.com/css2?family=Cantata+One&family=Lato:wght@400;700;900&display=swap');

/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ====== MY CODE ====== */

html:lang(en) {
    background-color: white;
}

/* ====== ANIMATIONS ====== */

.logo {
	animation: movedown 1s linear 1;
	animation-delay: 1s;
	visibility: hidden;
	animation-fill-mode: forwards;
}

@keyframes movedown {
	0% {
		transform: translateY(-100px);
		visibility: visible;
	}
	100% {
		transform: translateY(0);
		visibility: visible;
	}
}

/* ====== END OF ANIMATIONS ====== */

/* ====== MOBILE CSS ====== */

/* === NAV BAR === */

nav {
	width: 100%;
	background-color: white;
	text-align: center;
	display: block;

}

nav ul li a {
	color: black;
	text-decoration: none;
	font-size: 25px;
	font-weight: 700;
	font-family: 'Lato', sans-serif;
}

nav ul li a:hover {
	font-size: 40px;
	text-decoration: none;
}

nav ul li .active {
	text-decoration: underline;
	font-weight: 900;
	font-size: 35px;
}

.nav-list {
	padding-bottom: 1rem;
}

/* === END OF NAV BAR === */

/* ====== HOME BANNER ====== */

.home-banner {
	background-image: url(../images/desktop_home_banner_600px.jpg);
	background-size: cover;
	height: 600px;
	width: 100%;
}

.home-banner h2 {
	padding-top: 200px;
	font-size: 80px;
	color: white;
	text-align: center;
	font-family: 'Cantata One', serif;
}

/* ====== END OF HOME BANNER ====== */

/* ====== GALLERY SECTION ====== */

.gallery-section {
	text-align: center;
}

.gallery-section img{
	padding-bottom: 1rem;
}

/* ====== END OF GALLERY SECTION ====== */

/* ====== ABOUT BANNER ====== */

.about-banner {
	background-image: url(../images/desktop_about_banner_600px.png);
	background-size: cover;
	height: 600px;
	width: 100%;
}

.about-banner h2 {
	padding-top: 250px;
	font-size: 80px;
	color: white;
	text-align: center;
	font-family: 'Cantata One', serif;
}

/* ====== END OF ABOUT BANNER ====== */

/* ====== CONTACT BANNER ====== */

.contact-banner {
	background-image: url(../images/desktop_contact_banner_600px.png);
	background-size: cover;
	height: 600px;
	width: 100%;
}

.contact-banner h2 {
	padding-top: 250px;
	font-size: 80px;
	color: white;
	text-align: center;
	font-family: 'Cantata One', serif;
}

/* ====== END OF ABOUT BANNER ====== */

/* ====== HOME TEXT SECTION ====== */

h3 {
	font-size: 48px;
	text-align: center;
	font-family: 'Cantata One', serif;
	padding-bottom: 2rem;
}

p {
	font-size: 18px;
	font-family: 'Lato', sans-serif;
}

.home-text-section {
	padding-top: 5rem;
	padding-left: 5rem;
	padding-right: 5rem;
	background-color: #F2F2F2;
}

.readmore-button {
	background-color: orange;
	border: none;
	border-radius: 25px;
	font-size: 21px;
	font-weight: 700;
	text-align: center;
	height: 40px;
	width: 150px;
}

.button {
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 5rem;
}

/* ====== END OF HOME TEXT SECTION ====== */

/* ====== MY STORY SECTION ====== */

.my-story-section {
	padding-top: 5rem;
	padding-left: 5rem;
	padding-right: 5rem;
	text-align: center;
}

.my-story-section p {
	padding-top: 2rem;
	text-align: left;
}

.story-image {
	width: 100%;
	min-width: 300px;
	max-width: 500px;
}

/* ====== MY STORY SECTION ====== */

/* ====== GALLERY SECTION ====== */

.gallery-section {
	padding-top: 5rem;
	padding-left: 5rem;
	padding-right: 5rem;
}

.gallery-section img {
	width: 100%;
	display: block;
}

/* ====== END OF GALLERY SECTION ====== */

/* ====== CONTACT INFORMATION ====== */

.contact-information {
	text-align: center;
	padding-top: 5rem;
	padding-bottom: 3rem;
	background-color: #F2F2F2;
}

.address-list {
	padding-bottom: 2rem;
	font-size: 21px;
	font-family: 'Lato', sans-serif;

}

h5 {
	font-family: 'Lato', sans-serif;
	font-size: 35px;
	font-weight: 700;
}

.contact-information p {
	padding-bottom: 2rem;
	font-size: 21px;
}

/* ====== END OF CONTACT INFORMATION ====== */

/* ====== CONTACT FORM ====== */

.contact-form {
	margin-left: 20%;
	margin-right: 20%;
	font-family: 'Lato', sans-serif;
}

.contact-form p{
	text-align: center;
	font-family: 'Lato', sans-serif;
	margin-top: 5rem;
	margin-bottom: 2rem;
}

form {
	margin: 15px;
}

.thanks_form {
	display: block;
	width: 99%;
	margin: 5px;
}

.short {
	height: 40px;
}

.message {
	height: 170px;
}

.submit-button {
	display: block;
	margin: 5px;
	background: black;
	color: white;
	border: none;
	border-radius: 25px;
	font-family: 'Lato', sans-serif;
	height: 25px;
	width: 70px;
	font-weight: 700;
}

/* ====== END OF CONTACT FORM ====== */

/* ====== EMBED MAP ====== */

.map {
	margin-top: 5rem;
}

iframe {
	margin: 0 auto;
	width: 100%;
}

/* ====== END OF EMBED MAP ====== */

/* ========== ABOUT PAGE ========== */
.my-story-section {
	padding-top: 5rem;
}

/* ====== FOOTER SECTION ====== */

footer {
	margin-top: 3rem;
	text-align: center;
}

.footer-logo {
	margin-bottom: 2rem;
}

.footer-list2 {
	font-family: 'Lato', sans-serif;
	font-size: 25px;
	font-weight: 900;
	margin-bottom: 1rem;
}

.footer-list {
	font-family: 'Lato', sans-serif;
	margin-top: 2rem;
	margin-bottom: 2rem;
	font-size: 18px;
}

.social-icons {
	margin-bottom: 2rem;
	letter-spacing: 1rem;
}

.copyright {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	color: white;
	background-color: black;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}

/* =================================
============ DESKTOP CSS ===========
==================================== */

@media screen and (min-width: 830px) {

	/* === NAV BAR === */

	nav {
		display: flex;
		line-height: 100px;
		justify-content: space-between;
	}

	.nav-list {
		padding-bottom: 0rem;
	}
	
	nav ul li {
		display: inline-block;
	}

	nav ul li a {
		letter-spacing: 2px;
		padding-left: 1rem;
		padding-right: 1rem;
	}

	nav ul li .active {
		font-size: 25px;
		font-weight: 700;
	}

	/* === Footer === */

	footer {
		text-align: left;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}

	.copyright {
		text-align: center;
	}

	/* ====== MY STORY SECTION ====== */



	/* ====== MY STORY SECTION ====== */

}

